.question-cont{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.itembtn{
    border: 1px solid  #4d5b9e;
    padding: 4px;
    margin: 5px 10px 0px 0px;
    border-radius: 5px;
    color: #293264;
    cursor: pointer;
}
.crctbtn{
    background-color: rgb(166, 238, 180);
    border: none;
    padding: 4px;
    margin: 5px 10px 0px 0px;
    border-radius: 5px;
    color: #293264;
    cursor: pointer;
}
.wrngbtn{
    background-color: rgb(232, 130, 130);
    border: none;
    opacity: 0.5;
    padding: 4px;
    margin: 5px 10px 0px 0px;
    border-radius: 5px;
    color: #293264;
    cursor: pointer;
}
.selbtn{
    background-color: #d6dbf5;
    border: none;
    padding: 4px;
    margin: 5px 10px 0px 0px;
    border-radius: 5px;
}
.chkbtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.check{
    background-color: #4d5b9e;
    border-radius: 5px;
    padding: 8px;
    margin: 15px;
    color: white;
    cursor: pointer;
  }
.questions{
    color: #293264;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
.container{
    width: 70vw;
    display:flex;
    flex-direction: column;
}
.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* @media screen and (max-width: 770px){
.questionList-container {
    margin: 4em auto 2em;
    width: 80vw
}} */
.check:disabled{
    opacity: 0.5;
}