body{
  background-color: #f5f7fb;
  font-family: Karla,sans-serif;
}
.App{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shape-top{
  position: fixed;
  top: 0;
  left: 90%;
  right: 0;
  z-index: -1;
}
.shape-bottom{
  position: fixed;
  top: 600px;
  left: 0;
  z-index: -1;
}
.quizbtn{
  background-color: #4d5b9e;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.link{
  color: white;
  text-decoration: none;
}
.main{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 625px){
.shape-top {
    width: 25vw;
    top: 0;
}
}
@media screen and (max-width: 625px){
.shape-bottom {
    width: 40vw;
}
}